body{
  color: #828282;
  text-align: center;
  font-family: 'Open Sans';
  margin: 0;

}

#main {
  width: 626px;
  margin: 63px auto 0;
}

#main img {
  margin: 0 auto 27px;
  width: 350px;
}

#main h1 {
font-family: 'Dosis';
font-size: 32px;
line-height: 40.45px;
color: #3F3D56;
margin-bottom: 27px;
font-weight:normal;
}

#main p{
font-size: 15px;
line-height: 22px;
margin-bottom: 27px;
}

 span {
  color:#EE24FF;
  font-weight: bold;
}
strong {
  color: #3F3D56;
}


#footer {
  
  
}

#footer a {

font-size: 15px;
font-weight: 700;
color: #3F3D56;
text-decoration: none;


}

#line{
width: 391px;
height: 0px;
border: 1px solid #ECEFF2;
margin: 39px auto 16px;

}

#footer a+a {

margin-left: 42px;


}

#footer img {
  
  margin-top: 41.83px;
  vertical-align: bottom;
  width: 100%;
  height: 117px;
  padding-bottom: 0px;
  background: #3F3D56;

 
}